backports.tarfile==1.2.0
build==1.4.4
certifi==2026.4.22
cffi==2.0.0
changelog2version==0.12.1
charset-normalizer==3.4.7
cryptography==47.0.0
docutils==0.22.4
id==1.6.1
idna==3.13
importlib_metadata==8.7.1
jaraco.classes==3.4.0
jaraco.context==6.1.1
jaraco.functools==4.4.0
jeepney==0.9.0
Jinja2==3.1.6
keyring==25.7.0
markdown-it-py==3.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
more-itertools==10.8.0
nh3==0.3.5
packaging==26.2
pycparser==2.23
Pygments==2.20.0
pyproject_hooks==1.2.0
readme_renderer==44.0
requests==2.32.5
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==15.0.0
SecretStorage==3.3.3
semver==2.13.0
tomli==2.4.1
twine==6.2.0
typing_extensions==4.15.0
urllib3==2.6.3
zipp==3.23.1
